<img src="https://www.politecnicos.com.br/img/075.jpg" alt="Grupo Turing" height="420" width="420">

# Prophet - Resumo e Aplicação

<img id="YqOEc9IXkyKm5M:" src="" jsaction="load:str.tbn" class="rg_ic rg_i" alt="Resultado de imagem para fbprophet" style="width: 270px; height: 77px; margin-left: -8px; margin-right: -8px; margin-top: 29px;" data-atf="1">

Autor: Felipe Azank dos Santos

O Facebook Prophet, ou apenas Prophet, consiste em uma técnica de previsão com base em dados que se alteram com o passar do tempo (Time Series). Essa técnica, desenvolvida pela equipe de Data Scientists do Facebook, se destaca uma vez que consegue lidar muito bem com dados sazonais variáveis, compreendendo desde padrões anuais e mensais, até o impacto de feriados e promoções. Ademais, o Prophet também lida com outliers com extrema facilidade, além de vir com um aparato de funções de vizualizações de resultados extremamente didático. 

Na prática, sua utilização é bem semelhante com os métodos que utilizamos para treinar modelos supervisionados no Scikit-Learn.

## Passo 1: Instalando o Prophet 

Guia do próprio site disponível [aqui](https://facebook.github.io/prophet/docs/installation.html)

OU apenas use o seguinte comando no terminal da anaconda: **conda install -c conda-forge fbprophet**

## Passo 2: Importando as bibliotecas necessárias

In [41]:
import pandas as pd #biblioteca que usaremos para manipular os nossos dados

from pandas_datareader.data import DataReader #pacote que utilizaremos para importar os dados

from fbprophet import Prophet #biblioteca da predição em si

## Passo 3: Importando os preços de uma ação

<img class="irc_mi" src="https://i.ytimg.com/vi/YttPJlBFG-c/hqdefault.jpg" width="250" height="360" style="" alt="Resultado de imagem para stonks">

É possível importar ações e dados econômicos de diversas maneiras distintas. Uma forma simples de se fazer isso é utilizando o pacote pandas_datareader com a função "DataReader", utilizada da seguinte maneira:

* pd.DataReader("código da ação","local de retirada do dado","data de início","data de fim")

**OBS:** Para dados da bolsa, sempre utilize o segundo argumento como "yahoo", haja vista que o Yahoo Finance fornece dados confiáveis e precisos

**OBS2:** Caso queira importar alguns dados econômicos fornecidos pela Federal Reserve dos Estados Unidos (disponíveis [neste site](https://fred.stlouisfed.org/searchresults?st=brazil%5D), basta trocar o segundo argumento para "fred" e inserir no primeiro argumento o código presente no site :)

In [42]:
# Importando as ações da American Airlines
data=DataReader('AAL','yahoo','01-01-2015','01-01-2019')

In [43]:
data.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-01-02  54.599998  53.070000  54.279999  53.910000  10748600.0  51.268681
2015-01-05  54.540001  53.340000  54.369999  53.880001  11565000.0  51.240143
2015-01-06  54.430000  52.130001  54.270000  53.040001  13772200.0  50.441311
2015-01-07  53.650002  52.119999  53.380001  53.009998  10069800.0  50.412769
2015-01-08  54.279999  53.250000  53.480000  53.660000   9672100.0  51.030930

## Criando o DataFrame necessário

Agora, criaremos o DataFrame necessário para que seja possível realizarmos a predição. Para que isso seja possível, vamos selecionar apenas duas colunas nomeadas "ds" e "y", sendo a primeira formada pelas datas, e a segunda, formada pelos valores desejados. 

Nesse caso usaremos o preço de fechamento da ação ("Close")

In [47]:
df=pd.DataFrame() #iniciamos um dataframe vazio 

df['y']=data['Close'] #criamos a coluna 'y'

data.index=pd.to_datetime(data.index) #certificamos que a data esteja no formato "datetime"

df['ds']=data.index #criamos a coluna 'ds'

In [48]:
df.head()

                    y         ds
Date
2015-01-02  53.910000 2015-01-02
2015-01-05  53.880001 2015-01-05
2015-01-06  53.040001 2015-01-06
2015-01-07  53.009998 2015-01-07
2015-01-08  53.660000 2015-01-08

## Montando o preditor

In [ ]:
clf=Prophet()

In [ ]:
clf.fit(df)

In [ ]:
future = clf.make_future_dataframe(periods=15)
future.tail()

In [ ]:
forecast = clf.predict(future)

In [ ]:
forecast.head()

In [ ]:
forecast[['ds','yhat']].head(8)